#heading {

	color:#FA6900;
	margin-left: 20px;
	font-size: 400%;
	font-family: Arial Narrow,Arial,sans-serif;
	
   	top:0;
   

}

#heading1 {

	color:#F38630;
	margin-left: 20px;
	font-size: 200%;
	font-family: Arial Narrow,Arial,sans-serif;

   	top:0;
   
}

#menu {
	
	margin-top:10px;

}